//main-colors
$main-color: #e7f6ff;
$second-color: #9dd458;
$third-color: #ffffff;
$four-color: #bec9c8;
$five-color: #7ec3ff;

//text colors
$main-text: #ffffff;
$second-text: #90c447;
$third-text: #7ec3ff;

//font size
$main-font: 32px;
$second-font: 24px;
$third-font: 18px;
$four-font: 14px;

// window-size

$mobile: 600px;
