//main-colors
$main-color: #e7f6ff;
$second-color: #9dd458;
$third-color: #FFFFFF;
$four-color: #BEC9C8;


//text colors

$main-text: #FFFFFF;
$second-text: #90c447;
$third-text: #7EC3FF;

//font size

$main-font: 32px;
$second-font: 24px;
$third-font: 18px;
$four-font:14px;

// window-size

$mobile: 600px;