//main-colors
$main-color: #e7f6ff;
$second-color: #9dd458;
$third-color: #FFFFFF;


//text colors

$main-text: #FFFFFF;
$second-text: #9dd458;


//font size

$main-font: 32px;
$second-font: 24px;
$third-font: 18px;
$four-font:14px;

// window-size

$mobile: 600px;